target/META-INF/mule-src/xx-music-factory-api/src/main/mule/xx-music-factory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="xx-music-factory-api-main">
        <http:listener path="/api/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[%dw 2.0
output application/json
---
{
	correlationId: message.attributes.headers.correlation_id,
	clientId: message.attributes.headers.client_id,
	clientSecret: message.attributes.headers.client_secret
}]" doc:name="headerAttributes" doc:id="4f881836-515f-4a31-aee8-b796108094af" variableName="headerAttributes"/>
		<set-variable value="xx-music-factory-api-main::apiKitRouter" doc:name="currentFlow" doc:id="a497effe-0996-4b14-876b-821ac79996d3" variableName="currentFlow"/>
		<apikit:router config-ref="xx-music-factory-api-config"/>
		<logger level="INFO" doc:name="Logger" doc:id="6c9bc7c5-ec90-445d-8933-b6101aa138ab" message="#['xx-music-factory-api-main::payload: ' ++ write(payload,'application/json')]"/>
    </flow>
    <flow name="xx-music-factory-api-console">
        <http:listener path="/console/*" config-ref="http-listener-config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="xx-music-factory-api-config"/>
    </flow>
    



</mule>
